<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make API calls</title>
</head>
<body>

<form>
    <p>Method:</p>
    <p><label><input name="method" id="method" value="{{ method }}"></label></p>

    <p>Url:</p>
    <p><label><input name="url" id="url" value="{{ url }}"></label></p>

    <p>Secret:</p>
    <p><label><input name="secret" id="secret" value="{{ secret }}"></label></p>

    <p>Parameters:</p>
    <p><label><textarea name="parameters" id="parameters">{{ parameters }}</textarea></label></p>

    <p>Redirect:</p>
    <p><label><input type="checkbox" name="redirect" value="true" {% if redirect %}checked=""{% endif %}></label></p>

    <p><input type="submit" value="Go!"></p>
</form>

{% if response %}
    <h1>{{ status_code }}</h1>
    <pre><code>{{ text }}</code></pre>
{% endif %}

</body>
</html>